<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>${EXECUTABLE_NAME}</string>
    <key>CFBundleIconFile</key>
    <string/>
    <key>CFBundleIdentifier</key>
    <string>se.redseven.bblm.MessageBuilder</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleSignature</key>
    <string>BBLM</string>
    <key>CFBundleVersion</key>
    <string>8.0</string>
    <key>CSResourcesFileMapped</key>
    <true/>
    <key>com.barebones.bblminfo</key>
    <array>
      <dict>
        <key>BBLMCanGuessLanguage</key>
        <true/>
        <key>BBLMColorsSyntax</key>
        <true/>
        <key>BBLMDroppedFilePathStyle</key>
        <string>POSIX</string>
        <key>BBLMIsCaseSensitive</key>
        <false/>
        <key>BBLMRunColors</key>
        <dict>
          <key>se.redseven.bblm.MessageBuilder.stringComment</key>
          <string>==com.barebones.bblm.comment</string>
          <key>se.redseven.bblm.MessageBuilder.stringProcDir</key>
          <string>==com.barebones.bblm.string</string>
          <key>se.redseven.bblm.MessageBuilder.stringSubst</key>
          <string>==com.barebones.bblm.string</string>
          <key>se.redseven.bblm.MessageBuilder.stringTag</key>
          <string>==com.barebones.bblm.sgml-tag</string>
          <key>se.redseven.bblm.MessageBuilder.stringTagAttr</key>
          <string>==com.barebones.bblm.html.attribute-name</string>
          <key>se.redseven.bblm.MessageBuilder.stringTagVal</key>
          <string>==com.barebones.bblm.html.attribute-value</string>
        </dict>
        <key>BBLMKeywords</key>
        <array>
          <dict>
            <key>RunKind</key>
            <string>com.barebones.bblm.keyword</string>
            <key>Keywords</key>
            <array>
              <string>add</string>
              <string>after</string>
              <string>all</string>
              <string>alter</string>
              <string>and</string>
              <string>antinolog</string>
              <string>any</string>
              <string>array</string>
              <string>arraysize</string>
              <string>as</string>
              <string>asc</string>
              <string>avg</string>
              <string>band</string>
              <string>before</string>
              <string>begin</string>
              <string>binary</string>
              <string>block</string>
              <string>bnot</string>
              <string>bor</string>
              <string>bounded</string>
              <string>break</string>
              <string>bshift</string>
              <string>bxor</string>
              <string>by</string>
              <string>call</string>
              <string>cascade</string>
              <string>case</string>
              <string>catch</string>
              <string>char</string>
              <string>character</string>
              <string>check</string>
              <string>clear</string>
              <string>close</string>
              <string>commit</string>
              <string>composite</string>
              <string>conditional</string>
              <string>constant</string>
              <string>continue</string>
              <string>coroutine</string>
              <string>count</string>
              <string>create</string>
              <string>currentdate</string>
              <string>database</string>
              <string>date</string>
              <string>dbid</string>
              <string>debug</string>
              <string>dec</string>
              <string>decimal</string>
              <string>declare</string>
              <string>delete</string>
              <string>desc</string>
              <string>distinct</string>
              <string>do</string>
              <string>drop</string>
              <string>dump</string>
              <string>edi</string>
              <string>else</string>
              <string>end</string>
              <string>exclusion</string>
              <string>exec</string>
              <string>execsql</string>
              <string>execute</string>
              <string>exit</string>
              <string>export</string>
              <string>extension</string>
              <string>external</string>
              <string>field</string>
              <string>file</string>
              <string>fixed</string>
              <string>float</string>
              <string>floating</string>
              <string>for</string>
              <string>format</string>
              <string>from</string>
              <string>function</string>
              <string>grant</string>
              <string>group</string>
              <string>id</string>
              <string>if</string>
              <string>implied</string>
              <string>import</string>
              <string>in</string>
              <string>include</string>
              <string>index</string>
              <string>inout</string>
              <string>inpout</string>
              <string>input</string>
              <string>insert</string>
              <string>integer</string>
              <string>interface</string>
              <string>into</string>
              <string>ioset</string>
              <string>kill</string>
              <string>line</string>
              <string>list_conditional</string>
              <string>load</string>
              <string>loadpgm</string>
              <string>lock</string>
              <string>log</string>
              <string>loop</string>
              <string>main</string>
              <string>mandatory</string>
              <string>max</string>
              <string>min</string>
              <string>module</string>
              <string>new</string>
              <string>nolog</string>
              <string>not</string>
              <string>null</string>
              <string>number</string>
              <string>numeric</string>
              <string>off</string>
              <string>on</string>
              <string>once</string>
              <string>open</string>
              <string>option</string>
              <string>optional</string>
              <string>or</string>
              <string>order</string>
              <string>others</string>
              <string>out</string>
              <string>paired</string>
              <string>pipe</string>
              <string>pragma</string>
              <string>primitive</string>
              <string>print</string>
              <string>printerr</string>
              <string>privileges</string>
              <string>public</string>
              <string>read</string>
              <string>record</string>
              <string>regexp</string>
              <string>relation</string>
              <string>release</string>
              <string>repeat</string>
              <string>required</string>
              <string>restric</string>
              <string>resume</string>
              <string>return</string>
              <string>revoke</string>
              <string>rollback</string>
              <string>scan</string>
              <string>segment</string>
              <string>segment_group</string>
              <string>select</string>
              <string>sequence</string>
              <string>serialize</string>
              <string>set</string>
              <string>setdate</string>
              <string>short</string>
              <string>sleep</string>
              <string>split</string>
              <string>sql</string>
              <string>start</string>
              <string>statement</string>
              <string>strfields</string>
              <string>string</string>
              <string>strmid</string>
              <string>sum</string>
              <string>suspend</string>
              <string>switch</string>
              <string>terminate</string>
              <string>throw</string>
              <string>time</string>
              <string>to</string>
              <string>trace</string>
              <string>trunc</string>
              <string>truncate</string>
              <string>try</string>
              <string>type</string>
              <string>typeof</string>
              <string>unbounded</string>
              <string>unique</string>
              <string>unloadpgm</string>
              <string>unserialize</string>
              <string>until</string>
              <string>update</string>
              <string>use</string>
              <string>validate</string>
              <string>values</string>
              <string>variable</string>
              <string>warnings</string>
              <string>verify</string>
              <string>version</string>
              <string>when</string>
              <string>where</string>
              <string>while</string>
              <string>view</string>
              <string>with</string>
              <string>void</string>
              <string>work</string>
              <string>write</string>
              <string>xor</string>
            </array>
          </dict>
        </array>
        <key>BBLMLanguageCode</key>
        <string>MeBu</string>
        <key>BBLMLanguageDisplayName</key>
        <string>MessageBuilder Language Module</string>
        <key>BBLMEntryPointName</key>
        <string>MessageBuilderMachO</string>
        <key>BBLMScansFunctions</key>
        <true/>
        <key>BBLMSuffixMap</key>
        <array>
          <dict>
            <key>BBLMLanguageSuffix</key>
            <string>.s4</string>
          </dict>
          <dict>
            <key>BBLMLanguageSuffix</key>
            <string>.s4t</string>
          </dict>
          <dict>
            <key>BBLMLanguageSuffix</key>
            <string>.s4h</string>
          </dict>
          <dict>
            <key>BBLMLanguageSuffix</key>
            <string>.s4m</string>
          </dict>
        </array>
        <key>BBLMUseHTMLFileSearchRules</key>
        <false/>
      </dict>
    </array>
  </dict>
</plist>
